ul {
	list-style-type: none;
}

.bg-green {
	background-color: rgb(7 166 99);
}
.bg-gray {
	background-color: #e7e7e7;
}
.bg-sky-blue {
	background-color: #c4d2fe;
}
.bg-custom-green {
	background-image: url("./assets/bg-pexels.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px -294px;
}
.text-green {
	color: rgb(7 166 99);
}

.fs-12 {
	font-size: 12px;
}

.fs-14 {
	font-size: 14px;
}

.fs-20 {
	font-size: 20px;
}

.pos-a-b {
	position: absolute;
	width: 100%;
	bottom: 0;
}
